<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <button mat-raised-button [disabled]="!recipeForm.valid" color="primary">Save</button>
  <button mat-raised-button color="warn">Cancel</button>

  <br><br>

  <mat-form-field>
    <input matInput type="text" id="name" name="name"
           formControlName="name" placeholder="name">
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput type="url" id="imageUrl" name="imageUrl"
           formControlName="imageUrl" placeholder="imageUrl">
  </mat-form-field>
  <br>
  <img [src]="" alt="preview of the recipe photo">

  <br>
  <mat-form-field>
    <textarea matInput type="text" id="description" name="description"
              rows="6" formControlName="description" placeholder="description">
    </textarea>
  </mat-form-field>

  <h4>Ingredients:</h4>
  <br>

  <div formArrayName="ingredients">
    <div *ngFor="let ctrl of ingredientCtrl, let idx = index"
          [formGroupName]="idx">
      <mat-form-field>
        <input matInput type="text" formControlName="ingreName" placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" id="amount" formControlName="ingreAmount"
               placeholder="Amount">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="ingreUnit"
               placeholder="Unit">
      </mat-form-field>

      <button mat-button color="warn">x</button>
    </div>
    <button mat-raised-button type="button" (click)="onAddIngredient()" color="primary">Add Ingredient</button>
  </div>
</form>
