<!--<div *ngIf="error">-->
<!--  <p>{{ error }}</p>-->
<!--</div>-->

<!--<app-alert [message]="error" *ngIf="this.error" (click)="onHandleError()"></app-alert>-->

<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading" class="auth-form">
  <mat-form-field>
    <input matInput type="email" id="email" ngModel name="email" required email
           placeholder="Email" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" id="password" ngModel name="password" required
           minlength="6" placeholder="Password" />
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" [disabled]="!authForm.valid" color="primary">
    {{ isLoginMode ? 'Login' : 'Sign Up' }}
  </button>
  <button mat-raised-button type="button" (click)="onSwitchMode()" color="primary">
    Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}
  </button>
</form>
<br>
<mat-spinner *ngIf="isLoading"></mat-spinner>
