<br>
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imageUrl"
         alt="{{ recipe.name }}"
         class="img-fluid"
         style="max-height: 550px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<mat-divider></mat-divider>
<br>


<mat-menu #recipeOptions="matMenu">
  <button mat-menu-item>Add Ingredients to Shopping List</button>
  <button mat-menu-item>Edit Recipe</button>
  <button mat-menu-item>Delete Recipe</button>
</mat-menu>
<button mat-raised-button [matMenuTriggerFor]="recipeOptions" color="primary">
  Manage Recipe
</button>

<br>

<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
