<mat-list-item (click)="onSelected()" style="cursor: pointer">
  <img matListAvatar src="{{ recipe.imageUrl }}" alt="{{ recipe.name }}">
  <h3 matLine> {{ recipe.name }} </h3>
  <p matLine> {{ recipe.description }} </p>
</mat-list-item>


<!--<a href="#"-->
<!--   class="list-group-item list-group-item-action list-group-item-info clearfix"-->
<!--   (click)="onSelected()">-->

<!--  <div class="float-left">-->
<!--    <h4>{{ recipe.name }}</h4>-->
<!--    <p>{{ recipe.description }}</p>-->
<!--  </div>-->
<!--  <span class="float-right">-->
<!--        <img-->
<!--          src="{{ recipe.imageUrl }}"-->
<!--          alt="{{ recipe.name }}"-->
<!--          class="img-fluid"-->
<!--          style="max-height: 50px;">-->
<!--      </span>-->
<!--</a>-->
