<br>
<div class="container">
  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="name" id="name" #nameInput>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="amount" id="amount" #amountInput>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="unit" id="unit" #unitInput>
    </mat-form-field>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <button mat-raised-button color="primary"
                type="submit" (click)="onAddItem()">
          Add
        </button>
        <button mat-raised-button color="warn">Delete Item</button>
        <button mat-raised-button color="accent">Clear</button>
      </div>
    </div>
  </form>
</div>

